In [34]:
import pandas as pd
import numpy as np

graph = pd.read_csv('TB.csv')
# Inspect data
print(graph.info())
graph

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   a/c code         76 non-null     object
 1   description      77 non-null     object
 2   Opening Balance  76 non-null     object
 3   JAN              86 non-null     object
 4   FEB              86 non-null     object
 5   MAR              85 non-null     object
 6   APR              85 non-null     object
 7   MAY              85 non-null     object
 8   JUN              85 non-null     object
 9   JUL              85 non-null     object
 10  AUG              85 non-null     object
 11  SEP              85 non-null     object
 12  OCT              85 non-null     object
 13  NOV              85 non-null     object
 14  DEC              85 non-null     object
 15  Trial Balance    85 non-null     object
dtypes: object(16)
memory usage: 11.4+ KB
None

,a/c code,description,Opening Balance,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Trial Balance
0,1000,ASSETS,"$48,219",$0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$48,219"
1,1010,Renovation,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1020,Motor Vehicle,"121,833.00",0,0,0,0,0,0,0,0,0,0,0,0,"121,833.00"
3,1030,Computers,"3,809.50",0,0,0,0,0,0,0,0,0,0,0,0,"3,809.50"
4,1040,Equipment,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,PBT,(Profit) / Loss,"-34,052.68","22,148.83","2,483.36","-11,821.27","14,490.60","-12,037.44","-3,310.93","-14,512.34","-15,927.84","7,247.73","-18,831.36","7,767.64","12,427.64","-9,875.38"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,NaN,Trial Balance,0,0,0,0,0,0,0,0,0,0,0,0,0,0
89,NaN,NaN,3,4,5,6,7,8,9,10,11,12,13,14,15,16

In [52]:
#drop() columns
#select column to target for deletion
graph = pd.read_csv('TB.csv', index_col='description')
#droppig passed colums
graph.drop(['a/c code','Opening Balance','Trial Balance'], axis=1, inplace=True)
print(graph)

                       JAN       FEB         MAR        APR         MAY  \
description
ASSETS                 $0        NaN         NaN        NaN         NaN
Renovation               0         0           0          0           0
Motor Vehicle            0         0           0          0           0
Computers                0         0           0          0           0
Equipment                0         0           0          0           0
...                    ...       ...         ...        ...         ...
NaN                    NaN       NaN         NaN        NaN         NaN
(Profit) / Loss  22,148.83  2,483.36  -11,821.27  14,490.60  -12,037.44
NaN                    NaN       NaN         NaN        NaN         NaN
Trial Balance            0         0           0          0           0
NaN                      4         5           6          7           8

                      JUN          JUL         AUG       SEP         OCT  \
description
ASSETS                 NaN         NaN         NaN       NaN         NaN
Renovation               0           0           0         0           0
Motor Vehicle            0           0           0         0           0
Computers                0           0           0         0           0
Equipment                0           0           0         0           0
...                    ...         ...         ...       ...         ...
NaN                    NaN         NaN         NaN       NaN         NaN
(Profit) / Loss  -3,310.93  -14,512.34  -15,927.84  7,247.73  -18,831.36
NaN                    NaN         NaN         NaN       NaN         NaN
Trial Balance            0           0           0         0           0
NaN                      9          10          11        12          13

                      NOV        DEC
description
ASSETS                NaN        NaN
Renovation              0          0
Motor Vehicle           0          0
Computers               0          0
Equipment               0          0
...                   ...        ...
NaN                   NaN        NaN
(Profit) / Loss  7,767.64  12,427.64
NaN                   NaN        NaN
Trial Balance           0          0
NaN                    14         15

[90 rows x 12 columns]

In [28]:
# graph.transposed()
graph_transposed = graph.T
#graph_transposed slicing column
df = graph_transposed.loc[:'DEC']
df

#(graph_transposed['Assets'] = 'NaN')
#graph_transposed = pd.DataFrame(index="",columns=['REVENUE'])
#create plot data

,0,1,2,3,4,5,6,7,8,9,...,80,81,82,83,84,85,86,87,88,89
a/c code,1000,1010,1020,1030,1040,1050,NaN,1100,1110,1120,...,NaN,9000,9010,9020,NaN,NaN,PBT,NaN,NaN,NaN
description,ASSETS,Renovation,Motor Vehicle,Computers,Equipment,Funiture & Fittings,NaN,Trade Debtors,Deposits,Prepayments,...,NaN,EQUITY,Capital,Reserves,NaN,NaN,(Profit) / Loss,NaN,Trial Balance,NaN
Opening Balance,"$48,219",0,"121,833.00","3,809.50",0,0,NaN,"65,424.75",0,0,...,NaN,0,"-60,000.00","-71,718.70",NaN,NaN,"-34,052.68",NaN,0,3
JAN,$0,0,0,0,0,0,0,"-3,517.00",0,0,...,"$25,539",NaN,0,0,NaN,NaN,"22,148.83",NaN,0,4
FEB,NaN,0,0,0,0,0,0,"2,990.00",0,0,...,"$16,946",0,0,0,NaN,NaN,"2,483.36",NaN,0,5
MAR,NaN,0,0,0,0,0,0,"-5,567.00",0,0,...,"$16,739",NaN,0,0,NaN,NaN,"-11,821.27",NaN,0,6
APR,NaN,0,0,0,0,0,0,"3,701.00",0,0,...,"$18,691",NaN,0,0,NaN,NaN,"14,490.60",NaN,0,7
MAY,NaN,0,0,0,0,0,0,"-22,989.50",0,0,...,"$10,890",NaN,0,0,NaN,NaN,"-12,037.44",NaN,0,8
JUN,NaN,0,0,0,0,0,0,671,0,0,...,"$17,345",NaN,0,0,NaN,NaN,"-3,310.93",NaN,0,9
JUL,NaN,0,0,0,0,0,0,"8,193.00",0,0,...,"$15,615",NaN,0,0,NaN,NaN,"-14,512.34",NaN,0,10
AUG,NaN,0,0,0,0,0,0,"10,709.00",0,0,...,"$13,808",NaN,0,0,NaN,NaN,"-15,927.84",NaN,0,11
SEP,NaN,0,0,0,0,0,0,"-5,196.00",0,0,...,"$13,737",NaN,0,0,NaN,NaN,"7,247.73",NaN,0,12
OCT,NaN,0,0,0,0,0,0,"24,313.00",0,0,...,"$12,428",NaN,0,0,NaN,NaN,"-18,831.36",NaN,0,13
NOV,NaN,0,0,0,0,0,0,"-3,850.00",0,0,...,"$12,428",NaN,0,0,NaN,NaN,"7,767.64",NaN,0,14
DEC,NaN,0,0,0,0,0,0,0,0,0,...,"$12,428",NaN,0,0,NaN,NaN,"12,427.64",NaN,0,15

In [73]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#select column to target for deletion
graph = pd.read_csv('TB.csv', index_col='description')
#droppig passed colums
graph.drop(['a/c code','Opening Balance','Trial Balance'], axis=1, inplace=True)

print(graph)

                     JAN       FEB         MAR        APR         MAY  \
description
ASSETS               $0        NaN         NaN        NaN         NaN
Renovation             0         0           0          0           0
Motor Vehicle          0         0           0          0           0
Computers              0         0           0          0           0
Equipment              0         0           0          0           0
...                  ...       ...         ...        ...         ...
Capital                0         0           0          0           0
Reserves               0         0           0          0           0
NaN                  NaN       NaN         NaN        NaN         NaN
NaN                  NaN       NaN         NaN        NaN         NaN
NETT           22,148.83  2,483.36  -11,821.27  14,490.60  -12,037.44

                    JUN          JUL         AUG       SEP         OCT  \
description
ASSETS               NaN         NaN         NaN       NaN         NaN
Renovation             0           0           0         0           0
Motor Vehicle          0           0           0         0           0
Computers              0           0           0         0           0
Equipment              0           0           0         0           0
...                  ...         ...         ...       ...         ...
Capital                0           0           0         0           0
Reserves               0           0           0         0           0
NaN                  NaN         NaN         NaN       NaN         NaN
NaN                  NaN         NaN         NaN       NaN         NaN
NETT           -3,310.93  -14,512.34  -15,927.84  7,247.73  -18,831.36

                    NOV        DEC
description
ASSETS              NaN        NaN
Renovation            0          0
Motor Vehicle         0          0
Computers             0          0
Equipment             0          0
...                 ...        ...
Capital               0          0
Reserves              0          0
NaN                 NaN        NaN
NaN                 NaN        NaN
NETT           7,767.64  12,427.64

[87 rows x 12 columns]