YAHOO FINANCE API DATA

In [18]:
import datetime as dt
import pandas_datareader.data as pdr
import yfinance as yf

#solve string problem
yf.pdr_override()
#starting setup
y_symbols = ['TSLA']
from datetime import datetime
startdate = datetime(2015,1,1)
enddate = datetime.now()
data = pdr.get_data_yahoo(y_symbols,start=startdate, end=enddate)

data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-01-02,14.858000,14.883333,14.217333,14.620667,14.620667,71466000
2015-01-05,14.303333,14.433333,13.810667,14.006000,14.006000,80527500
2015-01-06,14.004000,14.280000,13.614000,14.085333,14.085333,93928500
2015-01-07,14.223333,14.318667,13.985333,14.063333,14.063333,44526000
2015-01-08,14.187333,14.253333,14.000667,14.041333,14.041333,51637500
...,...,...,...,...,...,...
2023-06-16,258.920013,263.600006,257.209991,260.540009,260.540009,167563700
2023-06-20,261.500000,274.750000,261.119995,274.450012,274.450012,165611200
2023-06-21,275.130005,276.989990,257.779999,259.459991,259.459991,211797100
2023-06-22,250.770004,265.000000,248.250000,264.609985,264.609985,166875900
2023-06-23,259.290009,262.450012,252.800003,256.600006,256.600006,176584100